{% extends 'blog/base.html' %}

{% block content %}
    <h1>Welcome to the Home Page</h1>
    <p>This is the home page where we display the latest features or blog content.</p>
    
    <!-- Add any home-specific content or features here -->
    <div class="features">
        <h2>Latest Features</h2>
        <ul>
            <li>Feature 1: Dynamic Image Search</li>
            <li>Feature 2: Image Preview</li>
            <li>Feature 3: Image Downloads </li>
        </ul>
    </div>
{% endblock %}
